<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2003/01/wi">
	<?include qsvn-defines.wxi?>
	<Product Name="QSvn $(var.QSvnVersionString)" Id="????????-????-????-????-????????????" 
		UpgradeCode="B8C2EE75-20F4-454B-9CFF-1205532FABA5"
		Language="1033"
        Version="$(var.QSvnVersionString)"
		Manufacturer="Andreas Richter">

		<Package Id="????????-????-????-????-????????????"
			Keywords="Installer"
            Description="QSvn $(var.QSvnVersionString) Installer"
            Comments="This Package will install QSvn $(var.QSvnVersionString) on your Computer"
            Manufacturer="Andreas Richter"
            InstallerVersion="200"
            Languages="1033"
            SummaryCodepage="1252"
            Compressed="yes" />

		<Upgrade Id="B8C2EE75-20F4-454B-9CFF-1205532FABA5" >
			<UpgradeVersion OnlyDetect="no" Property="FOUNDINSTALLEDVERSION" />
		</Upgrade>

		<Media Id="1" Cabinet="qsvn.cab" EmbedCab="yes" />

		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder" Name="PFiles">
				<Directory Id="INSTALLDIR" Name="QSVN" LongName="QSvn">
					
					<Component Id="QSvnMainfiles" Guid="6B49681F-8A1C-4FEF-9F33-BC849F114277">
						<File Id="qsvn" Name="QSVN.EXE" LongName="QSvn.exe" DiskId="1" src="$(var.QSvnBinDir)\qsvn.exe" Vital="yes"/>
						<File Id="qsvn.exe.manifest" Name="QSVN.EXE.MAN" LongName="qsvn.exe.manifest" DiskId="1" src="$(var.QSvnBinDir)\qsvn.exe.manifest" Vital="yes"/>
						<File Id="svnqtqt4.dll" Name="SVNQTQT4.DLL" LongName="svnqt-qt4.dll" DiskId="1" src="$(var.QSvnLibDir)\svnqt-qt4.dll" Vital="yes"/>
						<File Id="readme" Name="README" LongName="README" DiskId="1" src="$(var.QSvnSourceDir)\..\README" />
						<File Id="changelog" Name="CHANGELG" LongName="ChangeLog" DiskId="1" src="$(var.QSvnSourceDir)\..\ChangeLog" />
						<Shortcut Id="startmenuQSvn" Directory="ProgramMenuDir" Name="QSVN"
							LongName="QSvn" Target="MainProgram" WorkingDirectory="INSTALLDIR"
							Icon="QSvn.exe" IconIndex="0" />
						<Shortcut Id="desktopQSvn" Directory="DesktopFolder" Name="QSvn"
						  LongName="QSvn" Target="MainProgram" WorkingDirectory="INSTALLDIR"
						  Icon="QSvn.exe" IconIndex="0" />
					</Component>
					
					<Component Id="QtLib4" Guid="8C13219D-0480-408E-BAFB-A97B72667CE7">
						<File Id="QtCore4" Name="QTCORE4.DLL" LongName="QtCore4.dll" DiskId="1" src="$(var.QtLibraryDir)\QtCore4.dll"  Vital="yes"/>
						<File Id="QtGui4" Name="QTGUI4.DLL" LongName="QtGui4.dll" DiskId="1" src="$(var.QtLibraryDir)\QtGui4.dll" Vital="yes"/>
						<File Id="QtSql4" Name="QTSQL4.DLL" LongName="QtSql4.dll" DiskId="1" src="$(var.QtLibraryDir)\QtSql4.dll" Vital="yes"/>
					</Component>
					
					<Component Id="SubversionLib" Guid="ECC9F3F1-1A1D-44c6-9DD3-0584BF5B0A1B">
						<File Id="intl3_svn" Name="INTL3_SV.dll" LongName="intl3_svn.dll" DiskId="1" src="$(var.SvnBinDir)\intl3_svn.dll" />
						<File Id="libapr" Name="LIBAPR.DLL" LongName="libapr.dll" DiskId="1" src="$(var.SvnBinDir)\libapr.dll" />
						<File Id="libapriconv" Name="LIBAPRIC.DLL" LongName="libapriconv.dll" DiskId="1" src="$(var.SvnBinDir)\libapriconv.dll" />
						<File Id="libaprutil" Name="LIBAPRUT.DLL" LongName="libaprutil.dll" DiskId="1" src="$(var.SvnBinDir)\libaprutil.dll" />
						<File Id="libdb44" Name="LIBDB44.DLL" LongName="libdb44.dll" DiskId="1" src="$(var.SvnBinDir)\libdb44.dll" />
						<File Id="libeay32" Name="LIBEAY32.DLL" LongName="libeay32.dll" DiskId="1" src="$(var.SvnBinDir)\libeay32.dll" />
						<File Id="ssleay32" Name="SSLEAY32.DLL" LongName="ssleay32.dll" DiskId="1" src="$(var.SvnBinDir)\ssleay32.dll" />
					</Component>
					
					<Directory Id="LICENSES" Name="LICENSES" LongName="licenses">
						<Component Id="LicenseFiles" Guid="4FDDC1C3-BD71-4a16-AFE9-041D2F8D8DD6">
							<File Id="APRlicense" Name="APR.LIC" LongName="APR.license" DiskId="1" src="$(var.QSvnSourceDir)\licenses\APR.license" />
							<File Id="BerkeleyDBlicense" Name="BERKEL.LIC" LongName="BerkeleyDB.license" DiskId="1" src="$(var.QSvnSourceDir)\licenses\BerkeleyDB.license" />
							<File Id="QSvnlicense" Name="COPYING" LongName="COPYING" DiskId="1" src="$(var.QSvnSourceDir)\licenses\COPYING" />
							<File Id="OpenSSLlicense" Name="OPENSSL.LIC" LongName="OpenSSL.license" DiskId="1" src="$(var.QSvnSourceDir)\licenses\OpenSSL.license" />
							<File Id="Subversionlicense" Name="SUBVERS.LIC" LongName="Subversion.license" DiskId="1" src="$(var.QSvnSourceDir)\licenses\Subversion.license" />
						</Component>
					</Directory>
					
				</Directory>
			</Directory>
			<Merge Id="CRT" Language="0" DiskId="1" src="$(var.MergeModulesDir)\Microsoft_VC80_CRT_x86.msm" />
			<Merge Id="CRT Policy" Language="0" DiskId="1" src="$(var.MergeModulesDir)\policy_8_0_Microsoft_VC80_CRT_x86.msm" />

			<Directory Id="ProgramMenuFolder" Name="PMenu" LongName="Programs">
				<Directory Id="ProgramMenuDir" Name="QSvn" />
			</Directory>

			<Directory Id="DesktopFolder" Name="Desktop" />
		</Directory>

		<Feature Id="Complete" Title="QSvn" Description="The complete Installation" 
		   Display="expand" Level="1"
           ConfigurableDirectory="INSTALLDIR">
			<Feature Id="MainProgram" Title="Main Program Files" Description="This install the Main Program Files." Level="1">
				<ComponentRef Id="QSvnMainfiles" />
				<ComponentRef Id="SubversionLib" />
				<ComponentRef Id="LicenseFiles" />
				<ComponentRef Id="QtLib4" />
				<MergeRef Id="CRT"/>
				<MergeRef Id="CRT Policy" />
			</Feature>
		</Feature>

		<?include qsvn-ui.wxi?>

		<Icon Id="QSvn.exe" src="$(var.QSvnBinDir)\qsvn.exe" />
	</Product>
</Wix>
