<?xml version='1.0'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2003/01/wi'>

   <Product Id='12345678-1234-1234-1234-123456789012' Name='QSvn' Language='1033' 
            Version='0.1.0' Manufacturer='Microsoft Corporation'>
      <Package Id='12345678-1234-1234-1234-123456789012'
               Description='QSvn a Qt based Subversion Client'
               Comments='This Package will install QSvn on your Computer'
               Manufacturer='Andreas Richter' InstallerVersion='200' Compressed='yes' />

      <Media Id='1' Cabinet='qsvn.cab' EmbedCab='yes' />

      <Directory Id='TARGETDIR' Name='SourceDir'>
         <Directory Id='ProgramFilesFolder' Name='PFiles'>
            <Directory Id='MyDir' Name='QSVN' LongName='QSvn'>
               <Component Id='MyComponent' Guid='12345678-1234-1234-1234-123456789012'>
                  <File Id='qsvn' Name='qsvn.exe' DiskId='1' src='..\bin\qsvn.exe' />
                  <File Id='readme' Name='README' DiskId='1' src='..\README' />
               </Component>
            </Directory>
         </Directory>
      </Directory>

      <Feature Id='MyFeature' Title='My 1st Feature' Level='1'>
         <ComponentRef Id='MyComponent' />
      </Feature>
   </Product>

</Wix>

