<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2003/01/wi">

	<Product Name="QSvn" Id="C9A51138-7A96-41DC-9395-C4FD34317836" 
		  Language="1033"
          Version="0.2.0"
          Manufacturer="Andreas Richter">

		<Package Id="4F784DF6-7D81-4B83-B1DE-A1961A9E0AB1"
			Keywords="Installer"
            Description="QSvn Installer"
            Comments="This Package will install QSvn on your Computer"
            Manufacturer="Andreas Richter"
            InstallerVersion="200"
            Languages="1033"
            SummaryCodepage="1252"
            Compressed="yes" />

		<Media Id="1" Cabinet="qsvn.cab" EmbedCab="yes" />

		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder" Name="PFiles">
				<Directory Id="INSTALLDIR" Name="QSVN" LongName="QSvn">
					<Component Id="QSvnMainfiles" Guid="6B49681F-8A1C-4FEF-9F33-BC849F114277">
						<File Id="qsvn" Name="QSVN.EXE" LongName="QSvn.exe" DiskId="1" src="..\bin\qsvn.exe" Vital="yes"/>
						<File Id="readme" Name="README" LongName="README" DiskId="1" src="..\README" />
						<Shortcut Id="startmenuQSvn" Directory="ProgramMenuDir" Name="QSVN"
							LongName="QSvn" Target="Complete" WorkingDirectory="INSTALLDIR"
							Icon="QSvn.exe" IconIndex="0" />
					</Component>
					<Component Id="QtLib4" Guid="8C13219D-0480-408E-BAFB-A97B72667CE7">
						<File Id="QtCore4" Name="QTCORE4.DLL" LongName="QtCore4.dll" DiskId="1" src="QtCore4.dll"  Vital="yes"/>
						<File Id="QtGui4" Name="QTGUI4.DLL" LongName="QtGui4.dll" DiskId="1" src="QtGui4.dll" Vital="yes"/>
					</Component>
				</Directory>
			</Directory>
			<Directory Id="ProgramMenuFolder" Name="PMenu" LongName="Programs">
				<Directory Id="ProgramMenuDir" Name="QSVN" LongName="QSvn" />
			</Directory>
		</Directory>

		<Feature Id="f_Complete" Title="QSvn" Description="The complete Installation" 
		   TypicalDefault="install" Display="expand" Level="1"
           ConfigurableDirectory="INSTALLDIR">
			<ComponentRef Id="QSvnMainfiles" />
			<ComponentRef Id="QtLib4" />
		</Feature>
		<Icon Id="QSvn.exe" src="..\bin\qsvn.exe" />
	</Product>
</Wix>
